# macOS:
.DS_Store

# python
__pycache__
venv
.venv*
.mypy_cache
.pytest_cache

# IDE
.vscode
.idea

# TDK artifacts
testserver.log
session.log
http_log
.terraform
servers/downloaded
.version

# Temp files
.tmp