# macOS:
.DS_Store

# python
__pycache__
venv
.venv*
.mypy_cache
.pytest_cache

# IDE
.vscode
.idea

# TDK artifacts
testserver.log
session.log
http_log
.terraform
servers/downloaded
.version

servers/*/CMakeFiles
servers/*/_deps
servers/*/download

# Temp files
.tmp

# Build artifacts for windows
*.exe

# Sync Gateway local builds
environment/local/sync_gateway
environment/local/sync_gateway_clone/
environment/local/*.log
