[project]
name = "couchbase-lite-tests"
requires-python = ">=3.10"
version = "0.1.0"
dependencies = [
  "cbltest",
]

[tool.ruff]
lint.extend-select = ["I"]
lint.ignore = ["E402"]

[tool.uv.sources]
cbltest = { workspace = true }

[tool.uv.workspace]
members = [ "client" ]

[tool.ty.environment]
root = [".", "client/src"]
