[project]
name = "couchbase-lite-tests"
requires-python = ">=3.10"
version = "0.1.0"
dependencies = [
    "cbltest",
    "click==8.1.8",
    "paramiko==3.5.0",
    "psutil==7.0.0",
    "pyyaml==6.0.2",
    "tqdm==4.67.1",
]

[tool.ruff]
lint.extend-select = ["I"]
lint.ignore = ["E402"]
target-version = "py310"
exclude = [".venv", ".vscode", ".idea", ".github", ".git"]


[tool.uv.sources]
cbltest = { workspace = true }

[dependency-groups]
lint = [
    "ty>=0.0.19",
    "ruff>=0.15.4",
    "types-netifaces==0.11.0.20241025",
]

[tool.uv.workspace]
members = [ "client" ]

[tool.ty.environment]
root = [".", "client/src"]

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "session"
filterwarnings = [
  "ignore:Class property max_ttl is deprecated.*:couchbase.logic.supportability.CouchbaseDeprecationWarning",
]
markers = [
  "sgw: tests that focus on Sync Gateway functionality",
  "cbl: tests that focus on Couchbase Lite functionality",
]
