[project]
name = "couchbase-lite-tests"
requires-python = ">=3.10"
version = "0.1.0"
dependencies = [
  "cbltest",
]

[tool.ruff]
lint.extend-select = ["I"]
lint.ignore = ["E402"]

[tool.mypy]
check_untyped_defs = true
exclude = "conftest.py" # Exclude conftest.py, since these are duplicated across several test files

[[tool.mypy.overrides]]
module = "couchbase.*"
ignore_missing_imports = true

[tool.uv.sources]
cbltest = { workspace = true }

[tool.uv.workspace]
members = [ "client" ]

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "session"
filterwarnings = [
  "ignore:Class property max_ttl is deprecated.*:couchbase.logic.supportability.CouchbaseDeprecationWarning",
]
markers = [
  "sgw: tests that focus on Sync Gateway functionality",
  "cbl: tests that focus on Couchbase Lite functionality",
]
