[project]
name = "couchbase-lite-tests"
requires-python = ">=3.10"
version = "0.1.0"
dependencies = [
  "cbltest",
]

[tool.ruff]
lint.extend-select = ["I"]
lint.ignore = ["E402"]

[tool.mypy]
check_untyped_defs = true
exclude = "conftest.py" # Exclude conftest.py, since these are duplicated across several test files

[[tool.mypy.overrides]]
module = "couchbase.*"
ignore_missing_imports = true

[tool.uv.sources]
cbltest = { workspace = true }

[tool.uv.workspace]
members = [ "client" ]

[tool.ty.environment]
root = [".", "client/src"]

