Packages
.build
xcuserdata
DerivedData/
.DS_Store
.swiftpm
Package.resolved
.env
IDEWorkspaceChecks.plist
project.xcworkspace

Frameworks/CouchbaseLiteSwift.xcframework
TestServer/Server/CBLVersion.swift