# IDE
Packages
.build
xcuserdata
DerivedData/
.DS_Store
.swiftpm
Package.resolved
.env
IDEWorkspaceChecks.plist
project.xcworkspace

#Assets
Assets/dbs
Assets/blobs

#Build
Frameworks/CouchbaseLiteSwift.xcframework
TestServer/Server/CBLVersion.swift