<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple/DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.couchbase.arpd</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <!-- Be sure to edit this before you copy it -->
    <string>[Replace with path to script]</string>
  </array>

  <key>RunAtLoad</key>
  <true />

  <key>UserName</key>
  <string>root</string>
</dict>
</plist>
