PRODUCT_BUNDLE_IDENTIFIER       = com.couchbase.CBLTestServer
PRODUCT_MODULE_NAME             = TestServer

IPHONEOS_DEPLOYMENT_TARGET      = 14.0

HEADER_SEARCH_PATHS             = $(inherited) $(SRCROOT)/vendor/cmake/_deps/json-src/include $(SRCROOT)/vendor/cmake/_deps/civetweb-src/include $(SRCROOT)/vendor/cmake/_deps/libzip-src/lib $(SRCROOT)/vendor/cmake/_deps/libzip-build

GCC_PREPROCESSOR_DEFINITIONS    = NO_SSL NO_FILES NO_CGI NO_CACHING
