<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>For Advertising Service</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
    <string>For Multipeer Replicator</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_testserver._tcp</string>
		<string>_couchbaseP2P._tcp</string>
	</array>
</dict>
</plist>
